In [1]:
#importing library

import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#reading datasets

df_DC_Properties = pd.read_csv('DC_Properties.csv',parse_dates=True)
#dtype={'NUM_UNITS':int,'AYB': int, 'YR_RMDL':int, 'STORIES': int,'KITCHENS': int,'ZIPCODE':int  }

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_DC_Properties=df_DC_Properties.fillna(0)
df_DC_Properties=df_DC_Properties.astype(dtype={'NUM_UNITS':int,'AYB': int, 'YR_RMDL':int, 'STORIES': int,'KITCHENS': int,'ZIPCODE':int  })

In [4]:
#drop the coloumn which has no reference

df_DC_Properties=df_DC_Properties.drop('Unnamed: 0',axis=1)

In [6]:
df_DC_Properties.describe()

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,1.589570e+05,...,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000,158957.000000
mean,1.810678,0.458237,0.804155,6.187736,2.732506,1938.676755,1017.343388,1963.718024,1.364583,5.754615e+05,...,14.252999,2473.282158,779.703152,292.226086,20012.568663,38.914609,-77.016192,5348.182678,-76.901882,38.856825
std,0.976396,0.587571,0.745598,2.618165,1.358864,86.881492,999.028749,24.923150,2.587832,5.568976e+06,...,3.725736,5059.046023,1284.279329,482.070584,52.571889,0.102631,0.197463,3369.662055,2.971925,1.501840
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1800.000000,0.000000,0.000000e+00,...,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-77.113909,0.000000,-77.113135,0.000000
25%,1.000000,0.000000,0.000000,4.000000,2.000000,1918.000000,0.000000,1954.000000,0.000000,0.000000e+00,...,11.000000,697.000000,0.000000,0.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042806,38.895407
50%,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,1963.000000,1963.000000,2.000000,2.000000e+05,...,13.000000,1649.000000,0.000000,0.000000,20011.000000,38.915336,-77.019596,5201.000000,-77.019475,38.915205
75%,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2004.000000,1975.000000,2.000000,4.790000e+05,...,17.000000,3000.000000,1471.000000,607.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988775,38.936064
max,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,1.374275e+08,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,0.000000,11100.000000,0.000000,38.993646

In [8]:
meanbath = df_DC_Properties['BATHRM'].mean()
stdbath = df_DC_Properties['BATHRM'].std()
tobath = meanbath + stdbath * 3
botbath = meanbath - stdbath * 3

newdf = df_DC_Properties.copy() #to not mess up the original df
newdf = newdf.drop(newdf[newdf['BATHRM'] > tobath].index)
newdf = newdf.drop(newdf[newdf['BATHRM'] < botbath].index)

newdf.describe()

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,1.568420e+05,...,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000,156842.000000
mean,1.759962,0.449720,0.796145,6.103308,2.688100,1938.715248,1013.362887,1963.382691,1.352431,5.643921e+05,...,14.249308,2340.579634,789.796598,295.295928,20012.591774,38.914455,-77.015623,5388.239203,-76.902227,38.857133
std,0.871092,0.578474,0.740073,2.494438,1.297442,85.936523,999.052665,24.830703,2.601934,5.601222e+06,...,3.708268,2913.536009,1289.554378,480.267019,52.920491,0.103279,0.198685,3361.370980,2.960163,1.495905
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1800.000000,0.000000,0.000000e+00,...,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-77.113909,0.000000,-77.113135,0.000000
25%,1.000000,0.000000,0.000000,4.000000,2.000000,1918.000000,0.000000,1954.000000,0.000000,0.000000e+00,...,11.000000,679.000000,0.000000,0.000000,20006.000000,38.895302,-77.042454,2102.000000,-77.042499,38.895338
50%,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,1961.000000,1963.000000,2.000000,1.990000e+05,...,13.000000,1625.000000,0.000000,0.000000,20011.000000,38.914999,-77.019135,5301.000000,-77.019014,38.914966
75%,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2004.000000,1974.000000,2.000000,4.710000e+05,...,17.000000,2930.000000,1500.000000,615.000000,20018.000000,38.936075,-76.988274,8302.000000,-76.988067,38.936064
max,4.000000,11.000000,5.000000,28.000000,14.000000,2018.000000,2019.000000,2018.000000,826.000000,1.374275e+08,...,117.000000,338435.000000,5621.000000,6116.000000,20392.000000,38.995540,0.000000,11100.000000,0.000000,38.993646

In [12]:
meanhbath = newdf['HF_BATHRM'].mean()
stdhbath = newdf['HF_BATHRM'].std()
tohbath = meanhbath + stdhbath * 3
bothbath = meanhbath - stdhbath * 3
print(tohbath)
print(bothbath)

newdf_1 = newdf.copy() #to not mess up the original df
newdf_1 = newdf_1.drop(newdf[newdf['HF_BATHRM'] > tohbath].index)
newdf_1 = newdf_1.drop(newdf[newdf['HF_BATHRM'] < bothbath].index)

newdf_1.describe()

2.18514125309572
-1.285701052129142

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,1.565850e+05,...,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000,156585.000000
mean,1.758719,0.445094,0.795453,6.097161,2.685462,1938.719718,1013.022499,1963.368522,1.351189,5.643214e+05,...,14.250247,2334.053766,790.939860,295.499173,20012.593543,38.914436,-77.015591,5390.853128,-76.902501,38.857270
std,0.870157,0.566708,0.739724,2.487774,1.295333,85.996907,999.057337,24.838111,2.603683,5.605658e+06,...,3.707621,2850.106041,1290.184014,479.719632,52.963150,0.103354,0.198840,3360.908419,2.956204,1.493906
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1800.000000,0.000000,0.000000e+00,...,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-77.113909,0.000000,-77.113135,0.000000
25%,1.000000,0.000000,0.000000,4.000000,2.000000,1918.000000,0.000000,1954.000000,0.000000,0.000000e+00,...,11.000000,677.000000,0.000000,0.000000,20006.000000,38.895299,-77.042363,2102.000000,-77.042499,38.895338
50%,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,1961.000000,1963.000000,2.000000,1.990000e+05,...,13.000000,1622.000000,0.000000,0.000000,20011.000000,38.914990,-77.019126,5301.000000,-77.019002,38.914966
75%,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2004.000000,1974.000000,2.000000,4.700000e+05,...,17.000000,2925.000000,1502.000000,616.000000,20018.000000,38.936070,-76.988236,8302.000000,-76.988067,38.936064
max,4.000000,2.000000,5.000000,25.000000,14.000000,2018.000000,2019.000000,2018.000000,826.000000,1.374275e+08,...,117.000000,338435.000000,5621.000000,6116.000000,20392.000000,38.995540,0.000000,11100.000000,0.000000,38.993646

In [15]:
print(df_DC_Properties.shape)
print(newdf.shape)
print(newdf_1.shape)

(158957, 48)
(156842, 48)
(156585, 48)